PORT=3000
NODE_ENV=development
DATABASE_URL_DEV=postgres://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}
DATABASE_URL_TEST=postgres://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}
DATABASE_URL=postgres://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}
DOCKER_DB_URL=postgres://{DOCKER_DB_USER}:{DOCKER_DB_PASS}@{DB_HOST}:{DB_PORT}/{DOCKER_DB}
DOCKER_DB_USER={DOCKER_DB_USER}
DOCKER_DB_PASS={DOCKER_DB_PASS}
DOCKER_DB={DOCKER_DB}
REDIS_HOST={REDIS_HOST}
REDIS_PORT={REDIS_PORT}
SWAPI_URL=
